:root{
  --borda: 1px dashed red;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: black;
}

/* CONTAINER CABEÇALHO */
header{
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.335);
}

/* NAVBAR */
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.335);
}

nav > ul > li{
  display: inline-block;
  list-style: none;
  margin: 20px;
}

nav > ul > li > a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
  padding: 10px;
}

nav > ul > li > a:hover{
  background-color: rgba(0, 0, 255);
  color: white;
  border-radius: 10px;
  transition: .5s;
  text-decoration: underline;
}

/* NAVBAR LATERAL */
#menu-l{
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: black;
}

ul#menu-l > li{
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ÍCONES ABRIR E FECHAR */
i{
  color: white;
  font-size: 25px;
  cursor: pointer;
}

#fechar{
  margin: 20px;
}

/* SEÇAO INICIO */
section#inicio{
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#infos{
  margin: 0 0 0 50px;
  padding: 40px 16px;
  height: 350px;
}
#infos > h1{
  font-size: 60px;
  color: white;
}

#infos > h2{
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}

#infos > p{
  color: white;
  text-align: justify;
}

#foto{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin: 0 50px 0 30px;
}

#foto > img{
  width: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px white;
}

#redes{
  display: flex;
  margin: 10px 0 0 0;
  align-items: center;
  padding: 8px;
}

#redes > a{
  display: inline-block;
  margin-left: 15px;
}
#redes > a > button{
  border: 1px solid white;
  padding: 8px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: .2s ease-in;
  background-color: transparent;
  color: white;
  text-shadow: 0px 0px 10px white;
}

#redes > a > button:hover{
  scale: 110%;
  background-color: white;
  color: black;
}

#redes > a > i{
  transition: .2s ease-in;
}

#redes > a > i:hover{
  scale: 120%;
}

/* SEÇAO SERVIÇOS */
section#services{
  width: 100%;
  background-color: rgba(0, 0, 255, 0.8);
  padding-bottom: 80px;
}

section#services > h1{
  color: white;
  font-size: 50px;
  margin-bottom: 40px;
  padding-top: 20px;
  text-align: center;
  font-family: serif;
}

section#services > ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
}

section#services > ul > li{
  list-style: none;
  background-color: rgba(0, 0, 255, 0.8);
  color: white;
  width: 350px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  height: 250px;
}

section#services > ul > li > i{
  font-size: 40px;
  margin-bottom: 20px;
}

section#services > ul > li > h1{
  margin-bottom: 20px;
}

/* SEÇAO SKILLS */
section#skills{
  margin: 30px 0 0 0;
  color: white;
  padding: 20px;
  height: 500px;
}

section#skills > h1{
  text-align: center;
  font-size: 40px;
  font-family: serif;
  margin-bottom: 60px;
}

section#skills > ul{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

section#skills > ul > li{
  background-color: white;
  color: black;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 0 20px 0 0;
}

section#skills > ul > li > i{
  font-size: 70px;
  color: black;
}

section#skills > ul > li > p{
  font-weight: 600;
}

section#skills > ul > li > img{
  width: 70px;
  height: 70px;
}

section#projects{
  width: 100%;
  background-color: rgba(0, 0, 255, 0.8);
  padding: 20px 30px;
}

#projects > h1{
  text-align: center;
  color: white;
  padding: 30px 0 30px 0;
  font-size: 40px;
  font-family: serif;
}

section#projects > ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

section#projects > ul > li{
  width: 350px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  height: 390px;
  list-style: none;
}

section#projects > ul > li > img{
  width: 100%;
  margin-bottom: 20px;
}

section#projects > ul > li > h1{
  text-align: center;
  margin-bottom: 10px;
}

section#projects > ul > li > p{
  text-align: justify;
}

.view{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.view > button{
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  transition: .3s ease;
  width: 80px;
  background-color: rgba(0, 0, 255, 0.8);
}

.view > button:hover{
  background-color: white;
  border: 1px solid black;
  scale: 120%;
}

.view > button:hover > a{
  color: black;
}

.view > button > a{
  text-decoration: none;
  font-weight: 600;
  color: white;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100px;
  color: white;
}

footer > p{
  text-align: center;
  color: yellow;
  font-weight: 900;
  font-size: 30px;
}